.booksDisplayWrapper{
    position: relative;
    padding:2%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 5vh 4vw;
    color:#404040;
}
@media screen and (max-width:1265px){
    .booksDisplayWrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media screen and (max-width:860px){
    .booksDisplayWrapper{
        display:block;
    }
}
.bookCollection{
    position:relative;
}
.bookCollection-info{
    color: #FFFFFF;
    background-color:hsl(271, 25%, 63%,50%);
    width:1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    right:2%;
    top:2%;
    cursor: default;
}
@media screen and (max-width:860px){
    .bookCollection-info{
        display: none;
    }
}
@media screen and (min-width:860px){
    .bookCollection-info:hover{
        z-index: 6;
        visibility: hidden;
    }
}
.bookCollection-pic{
    background-color: hsl(270, 25%, 94%);
    border:solid 0.1rem rgb(239, 235, 243);
    margin:0;
    height: 100%;
    position:relative;
    z-index:1;
    display:flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width:860px){
    .bookCollection-info:hover+.bookCollection-pic{
        z-index: 3;
        background-color:white; 
    }
}
.bookCollection-img{
    display:block;
    height: 35vh;
    width: auto;
    margin:2vh 0;
}
.bookCollection-caption{
    border-top:solid 0.1rem rgb(239, 235, 243);
    height: 100%;
    background-color:white;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.booksDisplay-viewBlocker{
    position:absolute;
    background-color: rgb(226, 226, 226,0.4);
    width:100%;
    height: 100%;
    z-index:2;
    display:none;
}
@media screen and (min-width:860px){
    .bookCollection:has(.bookCollection-info:hover)~.booksDisplay-viewBlocker{
        display: block;
    }
}

